<div class="home">

		<div class="header-logo">
			<h3>Fav-Finder</h3>
		</div>

		<div class="header-navi">

			<div class="container">
				<div class="one-third">
					<span><i class="fa fa-lightbulb-o" aria-hidden="true"></i></span><p class="naviicon">New</p>
				</div>
				<div class="one-third">
					<span><i class="fa fa-clock-o" aria-hidden="true"></i></span><p class="naviicon">Timeline</p>
				</div>
				<div class="one-third">
					<span><i class="fa fa-line-chart" aria-hidden="true"></i></span><p class="naviicon">Popular</p>
				</div>
			</div>

		</div>



		<div class="header-icon">

			<div class="container">
				<div class="one-third">
					<p><i class="fa fa-user" aria-hidden="true"></i></p>
				</div>
				<div class="one-third">
					<p><i class="fa fa-folder-open" aria-hidden="true"></i></p>
				</div>
				<div class="one-third">
					<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
				</div>
			</div>

		</div>
		



	<div class="search-box">
		<div class="container">
			<div class="camtype-box">
				<p>カメラ機種から探すカメラ機種から探すカメラ機種から探すカメラ機種から探すカメラ機種から探すカメラ機種から探す</p>
			</div>
			<div class="howto-box">
				<p>ハウツーから探すハウツーから探すハウツーから探すハウツーから探すハウツーから探すハウツーから探すハウツーから探す</p>
			</div>
		</div>
		<p>search-boxsarch-boxsarch-box</p>
	</div>


	<div class="contents">

		<div class="message-wrapper">
			<div class="container">
				<h1>Fav-Finder</h1>
				<h2>お気に入りの撮り方をミツケる・シェアする・キロクする</h2>
			</div>
		</div>

		<div class="post-wrapper">

			<div class="new-posts">
				<div class="container">
					<div class="new_1 one-third">
						<p>１番目の新着１番目の新着１番目の新着１番目の新着１番目の新着１番目の新着１番目の新着１番目の新着１番目の新着</p>
					</div>
					<div class="new_2 one-third">
						<p>２番目の新着２番目の新着２番目の新着２番目の新着２番目の新着２番目の新着２番目の新着２番目の新着２番目の新着</p>
					</div>
					<div class="new_3 one-third">
						<p>３番目の新着３番目の新着３番目の新着３番目の新着３番目の新着３番目の新着３番目の新着３番目の新着３番目の新着</p>
					</div>
				</div>
			</div>

			<div class="pop-posts">
				<div class="container">
					<div class="pop_1 one-third">
						<p>１番人気１番人気１番人気１番人気１番人気１番人気１番人気１番人気１番人気１番人気１番人気１番人気１番人気</p>
					</div>
					<div class="pop_2 one-third">
						<p>２番人気２番人気２番人気２番人気２番人気２番人気２番人気２番人気２番人気２番人気２番人気２番人気２番人気</p>
					</div>
					<div class="pop_3 one-third">
						<p>３番人気３番人気３番人気３番人気３番人気３番人気３番人気３番人気３番人気３番人気３番人気３番人気３番人気</p>
					</div>
				</div>
			</div>

		</div>



		<p>contentscontentscontentscontents</p>
	</div>

	<footer>
		<p>footerfooterfooterfooterfooterfooter</p>
	</footer>


</div>