<div class="home">

		<div class="header-logo">
			<div class="container">
				<h3>Fav-Finder</h3>				
			</div>

		</div>

		<div class="header-navi">

			<div class="container">
				<div class="one-third">New</div>
				<div class="one-third">Timeline</div>
				<div class="one-third">Popular</div>
			</div>

		</div>



		<div class="header-icon">

			<div class="container">
				<div class="one-third"><span class="fa fa-user" aria-hidden="true"></span></div>
				<div class="one-third"><span class="fa fa-folder-open" aria-hidden="true"></span></div>
				<div class="one-third"><span class="fa fa-pencil-square-o" aria-hidden="true"></span></div>
			</div>

		</div>
		



	<div class="search-box">
		<div class="container">
			<div class="camtype-box">
				<p>カメラ機種から探すカメラ機種から探すカメラ機種から探すカメラ機種から探すカメラ機種から探すカメラ機種から探す</p>
			</div>
			<div class="howto-box">
				<p>ハウツーから探すハウツーから探すハウツーから探すハウツーから探すハウツーから探すハウツーから探すハウツーから探す</p>
			</div>
		</div>
	</div>


	<div class="contents">

		<div class="message-wrapper">
			<div class="container">
				<h1>Fav-Finder</h1>
				<h2>お気に入りの撮り方をミツケる・シェアする・キロクする</h2>
			</div>
		</div>

		<div class="post-wrapper">

			<div class="new-posts posts">
				<div class="container">
					<h3>新着の投稿</h3>

					<div class="new_1 one-third">						
						<div class="user-icon">
							<p>ユーザーアイコンユーザーアイコン</p>
						</div>
						<div class="post-contents">
							<div class="container">
								<h4 class="post-title">夜景を上手に撮る方法</h4>
								<div class="post-property">
									<span>写ルンです</span>×<span>シーン別</span>
								</div>
							</div>
						</div>
					</div>

					<div class="new_2 one-third">
						<div class="user-icon">
							<p>ユーザーアイコンユーザーアイコン</p>
						</div>
						<div class="post-contents">
							<div class="container">
								<h4 class="post-title">夜景を上手に撮る方法</h4>
								<div class="post-property">
									<span>写ルンです</span>×<span>シーン別</span>
								</div>
							</div>
						</div>
					</div>

					<div class="new_3 one-third">
						<div class="user-icon">
							<p>ユーザーアイコンユーザーアイコン</p>
						</div>
						<div class="post-contents">
							<div class="container">
								<h4 class="post-title">夜景を上手に撮る方法</h4>
								<div class="post-property">
									<span>写ルンです</span>×<span>シーン別</span>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>


			<div class="pop-posts posts">
				<div class="container">
					<h3>人気の投稿</h3>

					<div class="new_1 one-third">						
						<div class="user-icon">
							<p>ユーザーアイコンユーザーアイコン</p>
						</div>
						<div class="post-contents">
							<div class="container">
								<h4 class="post-title">上手に自撮りする方法</h4>
								<div class="post-property">
									<span>iphone</span>×<span>被写体別</span>
								</div>
							</div>
						</div>
					</div>

					<div class="new_2 one-third">
						<div class="user-icon">
							<p>ユーザーアイコンユーザーアイコン</p>
						</div>

						<div class="post-contents">
							<div class="container">
								<h4 class="post-title">上手に自撮りする方法</h4>
								<div class="post-property">
									<span>iphone</span>×<span>被写体別</span>
								</div>
							</div>
						</div>
					</div>

					<div class="new_3 one-third">
						<div class="user-icon">
							<p>ユーザーアイコンユーザーアイコン</p>
						</div>

						<div class="post-contents">
							<div class="container">
								<h4 class="post-title">上手に自撮りする方法</h4>
								<div class="post-property">
									<span>iphone</span>×<span>被写体別</span>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>			

		</div>
	</div>

	<footer>
		<p>footerfooterfooterfooterfooterfooter</p>
	</footer>


</div>