<div class="home">
	
	<div class="header-logo">
		<h3>Fav-Finder</h3>
	</div>

	<div class="header-navi">
		<p>header-naviheader-navi</p>
	</div>

	<div class="header-icon">
		<p>header-iconheader-icon</p>
	</div>

	<div class="search-box">
		<p>search-boxsarch-boxsarch-box</p>
	</div>

	<div class="contents">
		<p>contentscontentscontentscontents</p>
	</div>

	<footer>
		<p>footerfooterfooterfooterfooterfooter</p>
	</footer>


</div>