<!-- ヘッダーあとで共通CSSにする -->
<header>
	<div class="container">

		<div class="header-logo">
			<h1>Fav-Finder</h1>
	    </div>
	    <div class="header-right">
			<a href="">アイコン</a>
		</div>
		
	</div>

</header>

<!-- 検索画面 -->
<div class="search-wrapper">
	<div　class="container">

		<div class="search-box">
			<input type="" name="" value="どのカメラで、何を撮る？">
		</div>

	  <div class="search-sections">
		<div class="search-section txt">
			<a href="">新着の撮り方</a>
		</div>

		<div class="search-section txt">
			<a href="">人気の撮り方</a>
		</div>

		<div class="search-section img">
			<a href="">カメラ機種から探す</a>
		</div>

		<div class="search-section img">
			<a href="">ハウツーから探す</a>
		</div>
	  </div>

	</div>
</div>

<!-- フッターあとで共通CSSにする -->
<footer>
	
	<div class="menu">
		<a href=""><img src=""></a>
		<p>タイムライン</p>
	</div>

	<div class="menu">
		<a href=""><img src=""></a>
		<p>撮り方検索</p>
	</div>

	<div class="menu">
		<a href=""><img src=""></a>
		<p>撮り方作成</p>
	</div>

	<div class="menu">
		<a href=""><img src=""></a>
		<p>MYフォルダ</p>
	</div>


</footer>