<div class="home">

		<div class="header-logo">
			<div class="container">
				<h3><%= image_tag('/Fav-Finder_logo2.gif', :width => '100px', :height => '50px') %></h3>
		
			</div>

		</div>

		<div class="header-navi">

			<div class="container">
				<div class="one-third">New</div>
				<div class="one-third">Timeline</div>
				<div class="one-third">Popular</div>
			</div>

		</div>



		<div class="header-icon">

			<div class="container">
				<div class="one-third"><span class="fa fa-user" aria-hidden="true"></span></div>
				<div class="one-third"><span class="fa fa-folder-open" aria-hidden="true"></span></div>
				<div class="one-third"><span class="fa fa-pencil-square-o" aria-hidden="true"></span></div>
			</div>

		</div>
		



	<div class="search-box">
		<div class="container">
			<div class="camtype-box">
				<div class="camtype">
				  <div class="bg-mask">
					<p>カメラの機種から探す</p>		
						<ul class="camtypes">
							<li>デジタル</li>
							<li>フィルム</li>
							<li>チェキ</li>
							<li>写ルンです</li>
							<li>スマートフォン</li>
							<li>その他</li>
						</ul>					
				  </div>					
				</div>


			</div>
			<div class="howto-box">
				<div class="howto">
				  <div class="bg-mask">			
					<p>ハウツーから探す</p>
						<ul class="camtypes">
							<li>撮り方別</li>
							<li>構図別</li>
							<li>被写体別</li>
							<li>シーン別</li>
							<li>加工テクニック</li>
							<li>その他</li>
						</ul>					
				  </div>
				</div>
			</div>
		</div>
	</div>


	<div class="contents">

		<div class="message-wrapper">
			<div class="container">
				<h1><%= image_tag('/Fav-Finder_logo2.gif') %></h1>
				<h3>お気に入りの撮り方をミツケる・シェアする・キロクする</h3>
			</div>
		</div>

		<div class="post-wrapper">

			<div class="new-posts posts">
				<div class="container">
					<h2>新着の投稿</h2>

					<div class="new_1 one-third">						
						<div class="user-icon">
							<p>ユーザーアイコンユーザー</p>
						</div>
						<div class="post-contents">
							<div class="container">
								<h3 class="post-title">夜景を上手に撮る方法</h3>
								<div class="post-property">
									<span>写ルンです</span>×<span>シーン別</span>
								</div>
							</div>
						</div>
					</div>

					<div class="new_2 one-third">
						<div class="user-icon">
							<p>ユーザーアイコンユーザー</p>
						</div>
						<div class="post-contents">
							<div class="container">
								<h3 class="post-title">夜景を上手に撮る方法</h3>
								<div class="post-property">
									<span>写ルンです</span>×<span>シーン別</span>
								</div>
							</div>
						</div>
					</div>

					<div class="new_3 one-third">
						<div class="user-icon">
							<p>ユーザーアイコンユーザー</p>
						</div>
						<div class="post-contents">
							<div class="container">
								<h3 class="post-title">夜景を上手に撮る方法</h3>
								<div class="post-property">
									<span>写ルンです</span>×<span>シーン別</span>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>


			<div class="pop-posts posts">
				<div class="container">
					<h2>人気の投稿</h2>

					<div class="new_1 one-third">						
						<div class="user-icon">
							<p>ユーザーアイコンユーザー</p>
						</div>
						<div class="post-contents">
							<div class="container">
								<h3 class="post-title">上手に自撮りする方法</h3>
								<div class="post-property">
									<span>iphone</span>×<span>被写体別</span>
								</div>
							</div>
						</div>
					</div>

					<div class="new_2 one-third">
						<div class="user-icon">
							<p>ユーザーアイコンユーザー</p>
						</div>

						<div class="post-contents">
							<div class="container">
								<h3 class="post-title">上手に自撮りする方法</h3>
								<div class="post-property">
									<span>iphone</span>×<span>被写体別</span>
								</div>
							</div>
						</div>
					</div>

					<div class="new_3 one-third">
						<div class="user-icon">
							<p>ユーザーアイコンユーザー</p>
						</div>

						<div class="post-contents">
							<div class="container">
								<h3 class="post-title">上手に自撮りする方法</h3>
								<div class="post-property">
									<span>iphone</span>×<span>被写体別</span>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>			

		</div>
	</div>

	<footer>
		<p>footerfooterfooterfooterfooterfooter</p>
	</footer>


</div>