// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 【共通のCSS】 */
	.container{
		width:80%;
		margin:0 auto;
		text-align:left;
	}

	.fa{
		margin-right:10px;
	}

	.header-navi .one-third{	
		font-size:20px;
		line-height:70px;
		text-align:center !important;
	}

	.header-icon .one-third{
		font-size:30px;
		line-height:70px;
		text-align:center !important;
	}






/* 分割するためののCSS */
	.half{
		width:50%;
		float:left;
	}

	.one-third{
		width:33.333%;
		float:left;
	}

	.quarter{
		width:25%;
		float:left;
	}




/* デスクトップのCSS */
@media(min-width:671px){

.home{
	display:grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 70px auto 100px;
	grid-template-areas:
	"header-logo header-navi header-icon"
	"search-box contents contents"
	"footer footer footer";
}


.naviicon{
	text-align:center;
	display:inline-block;
	padding-left:5px;
}


.header-logo{
	grid-area:header-logo;
	background-color:red;
}

.header-navi{
	grid-area:header-navi;
	background-color:pink;
}

.header-icon{
	grid-area:header-icon;
	background-color:coral;
}

.search-box{
	grid-area:search-box;
	background-color:blue;
}

.contents{
	grid-area:contents;
	background-color:royalblue;
}

footer{
	grid-area:footer;
	background-color:yellow;
}

	
}


/* モバイル用のCSS */
@media(max-width: 670px){
	.home{
		display:grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto auto auto;
		grid-template-areas:
		"header-logo"
		"header-navi"
		"search-box"
		"contents"
		"footer";
	
	}

	.header-logo{
		grid-area:header-logo;
		background-color:red;
	}

	.header-navi{
		grid-area:header-navi;
		background-color:pink;
	}

	.header-icon{
		display:none;
		background-color:coral;
	}

	.search-box{
		grid-area:search-box;
		background-color:blue;
	}

	.camtype-box{
		float:left;
		width:50%;
	}

	.howto-box{
		float:left;
		width:50%;
	}

	.contents{
		grid-area:contents;
		background-color:royalblue;
	}

	.message-wrapper{
		display:none;
	}

	.post-wrapper .one-third{
		width:100%;
	}

	footer{
		grid-area:footer;
		background-color:yellow;
	}
}